<div class="hand">
{% for card in status.hand %}
<div class="card">
    <div class="top" style="
            {% if card.color == 'black' %} color: white {% endif %};
            background-color: {{ card.color }}">
        <div><u>${{ card.dollar_value or 0 }}M -- {{ card.card_type or 'TYPE'}}</u></div>
        <div>{{ card.name }}</div>
        <div>{{ card.description }}</div>
    </div>
    <div class="bottom" style="
            {% if card.secondary_color == 'black' %} color: white {% endif %};
            background-color: {{ card.secondary_color }}
    ">
        {% if card.secondary_color %}<button onclick=flip({{ card.id }})>FLIP</button>{% endif %}<br/>
        {% if card.card_type != 'money' 
            and card.card_type != 'property'
            and card.card_type != 'property wild card'
        %}<button onclick=move({{ status.turn.id }},{{ card.id }},asCash=true)>Cash</button>{% endif %}<br/>
        {% if card.name != 'Hotel' and card.name != 'House' %}
            <button onclick=move({{ status.turn.id }},{{ card.id }})>Play</button>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
