<table>
    <tr>
        <th></th>
        <th colspan="{{ moneys|length }}">Money</th>
        <th colspan="{{ monopolies.values() | sum }}">Property</th>
    </tr>
    <tr>
        <th></th>
        {% for money in moneys %}
            <th>${{ money }}M</th>
        {% endfor %}
        {% for color, cnt in monopolies.items() %}
            <th style="color: {{ color }}" colspan="{{ cnt }}">{{ color }}</th>
        {% endfor %}
    </tr>
    {% for id, user in status.users.items() %}
    <tr>
        <td 
            {% if id != you and status.action.type == 'Pick Payment Victim' %}
                onclick=pickVictim({{status.action.payment_id}},{{ id }})
                class="clicky highlighted"
            {% elif id == status.turn.user %}
                style="background-color: yellow"
            {% endif %}>
            {{ user.name }}<br/>
            cards in hand: {{ user.cards.hand_count }}
        </td>
        {% for money in moneys %}
            {% if user.cards.table.money[money]|length %}
                <td
                    {% if id == you
                            and status.action.type == 'payment'
                            and status.action.payments[you]  %}
                        onclick=pay({{status.action.payments[you].id}},{{ user.cards.table.money[money][0].id }})
                        class="clicky highlighted"
                    {% endif %}>
                        ${{ money * user.cards.table.money[money]|length }}M
                </td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        {% for color, cnt in monopolies.items() %}
            {% for card in user.cards.table.property[color] %}
                <td 
                {% if id == you
                        and status.action.type == 'payment'
                        and status.action.payments[you]  %}
                    onclick=pay({{status.action.payments[you].id}},{{ card.id }})
                    class="clicky highlighted"
                {% elif status.turn.user == you
                        and status.action.type == 'ForcedDeal1' %}
                    onclick=pick({{status.turn.id}},{{ card.id }})
                    class="clicky highlighted"
                {% elif card.id in status.action.highlighted_cards %}
                    onclick=pick({{status.turn.id}},{{ card.id }})
                    class="clicky highlighted"
                {% elif id != you
                        and status.turn.user == you
                        and status.action.type == 'SlyDeal1' %}
                    onclick=pick({{status.turn.id}},{{ card.id }})
                    class="clicky highlighted"
                {% elif id != you
                        and status.turn.user == you
                        and status.action.type == 'DealBreaker1' %}
                    onclick=pick({{status.turn.id}},{{ card.id }})
                    class="clicky highlighted"
                {% elif id == you
                        and status.turn.user == you
                        and card.card_type == 'property wild card' %}
                    onclick=move({{status.turn.id}},{{ card.id }})
                    class="clicky"
                {% endif %}
                    style="
                        {% if card.color == 'black' or card.secondary_color == 'black' %} color: white {% endif %};
                        background: {{ card.secondary_color or color }}">
                    <!-- TODO: ENABLE FLIP ON WILDS -->
                    ${{ card.dollar_value }}M
                </td>
            {% endfor %}

            {% for i in range(cnt - user.cards.table.property[color]|length) %}
                <td>&nbsp;&nbsp;&nbsp;</td>
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

